.angles-container .angles-menu-item svg {
	fill: #42a5f5;
}

.angles-container .angles-heading {
	color: #42a5f5;
}

.btn {
	border-color: #42a5f5 !important;
	background: #42a5f5 !important;
	color: #fff;
}

.btn:hover {
	background: #fff !important;
	border-color: #42a5f5 !important;
	color: #42a5f5 !important;
}

.download-btn .btn-hover {
	background-color: #fff;
	color: #42a5f5;
}

.facts .col-md-3.col-sm-6:hover {
	border-color: #42a5f5;
}

.skill-details .progress-bar,
.facts .col-md-3.col-sm-6:hover {
	background-color: #42a5f5;
}

.pricing-tables .col-md-4.col-sm-6:nth-child(2) .table-title, 
.pricing-tables .col-md-4.col-sm-6:nth-child(2) .pricing-cost,  
.pricing-tables .table:hover .table-title,
.pricing-tables .table:hover .pricing-cost {
	background-color: #42a5f5; 
	border-color: #e8eaf6;	
}

.pricing-tables .col-md-4.col-sm-6:hover {
	border-color: #e8eaf6 !important;
}

.table-bottom .btn,
.wpcf7-form p.btn {
	background-color: #fff !important;
	border: none !important;
}

.table-bottom .btn:hover {
	color: #42a5f5 !important; 
}

.entry-title a:hover {
	color: #42a5f5;
}

.wpcf7-submit {
	background: #42a5f5;
	border-color: #42a5f5;
	color: #fff;
}

.wpcf7-submit:hover {
	background: #fff;
	border-color: #42a5f5;
	color: #42a5f5;
}

.back-home .btn {
	color: #fff;
}

.btn.reply-btn,
.btn.read-more {
	background-color: #fff !important;
	border: 0;
	color: #42a5f5; 
}

.btn.reply-btn:before,
.btn.read-more:hover {
	color: #42a5f5;
}

.tag-list a:hover {
	background-color: #42a5f5;
}